button {
  background-color: #f2f2f2;
  width: 6rem;
  height: 6rem;
  font-size: 1.6em;
  border-radius: .6rem;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.068);
  margin-top: 2rem;
  transition: 200ms;
}

button:hover {
  color: transparent;
  background-color: #f2f2f2;
  background-image: url(../../assets/pokeCardBack.svg);
  border-radius: 50%;
}

button:active {
  transform: rotateZ(45deg);
}

#visible {
  visibility: hidden;
}