button {
  background-color: #f2f2f2;
  width: 6rem;
  height: 6rem;
  font-size: 2em;
  border-radius: .6rem;
  border: none;
  transition: 200ms;
}

button:hover {
  background-color: #f2f2f2;
  background-image: url(../../assets/pokeCardBack.svg);
  border-radius: 50%;
  color: transparent;
}

button:active {
  transform: rotateZ(45deg);
}

#visible {
  visibility: hidden;
}