.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

.timer span {
  font-size: 2em;
  color: #f2f2f2;
}