.card {
  position: relative;
  width: 160px;
  height: 160px;
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out;
  font-size: 1.3em;
}

.cardFlipped {
  transform: rotateY(180deg);
}

.frontCard {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  cursor: pointer;
}

.frontCard .cardImage {
  width: 120px;
  height: auto;
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.backCard {
  background: #d10909 url(../../assets/pokeCardBack.svg) no-repeat center;
  border-radius: 1rem;
  cursor: pointer;
  transform: rotateY(180deg);
}

@media (min-width: 769px) and (max-width: 1024px){
  .card {
    width: 15rem;
    height: 15rem;
  }

  .frontCard .cardImage{
    width: 85%;
  }

  .frontCard span {
    position: absolute;
    margin-top: 12rem;
    font-size: 1.4em;
  }
}

@media (max-width: 768px) {
  .card {
    width: 12.8rem;
    height: 12.8rem;
  }

  .frontCard .cardImage{
    width: 85%;
  }

  .frontCard span {
    position: absolute;
    margin-top: 10rem;
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .card {
    width: 6.8rem;
    height: 6.8rem;
  }
  .frontCard .cardImage {
    width: 90%;
  }

  .frontCard span {
    position: absolute;
    margin-top: 5.6rem;
    font-size: 0.7em;
  }
}

@media (max-width: 320px) {
  .card {
    width: 5rem;
    height: 5rem;
  }

  .frontCard .cardImage {
    width: 90%;
  }

  .frontCard span {
    position: absolute;
    margin-top: 3.8rem;
    font-size: 0.6em;
  }
}
