.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* backface-visibility: hidden; */
}

.card__face--back {
  background-color: #D10909;
  background-image: url(../../assets/pokeCardBack.svg);
  border-radius: 1rem;
  cursor: pointer;
  /* transform: rotateY(180deg); */
}