body {
  background-color: #323232;
}

.App {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: auto;
  margin-top: 3rem;
 }

 h1 {
  color: #FFF;
 }

 h2 {
  color: #fff;
 }

 h2 span{
  color: rgb(255, 231, 18);
 }

 .question {
  font-size: 1.8em;
 }

.table {
  width: 25rem;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.header {
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.score{
  padding: .2rem .8rem;
  /* background-color: #f2f2f2; */
  border: none;
  border-radius: .6rem;
}

.score th {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}